div {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #333;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  border-radius: 5px;
}

svg {
  display: block;
  margin: 0 auto;
}