<mat-card>
  <mat-card-content>
    <table mat-table [dataSource]="progressions">
      <ng-container matColumnDef="roman">
        <th mat-header-cell *matHeaderCellDef> Roman Numerals </th>
        <td mat-cell *matCellDef="let progression"> {{ formatProgression(progression.roman) }} </td>
      </ng-container>
      <ng-container matColumnDef="transposed">
        <th mat-header-cell *matHeaderCellDef> Chords </th>
        <td mat-cell *matCellDef="let progression"> {{ formatProgression(progression.transposed) }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>